@import "src/scss/variables.scss";

.input-container{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;

    input {
        outline: 0;
        border-width: 0 0 2px;
        border-color: $input-underline;
        background-color: $board-bg;
    }

    input:focus {
        border-color: $input-active-line
    }

    .new-task-name{
        width:18rem;
        height: 2rem;
        font-size: 18px;
    }
    
    .add-board-icon{
        font-size: 26px;
        color: $page-bg;
        cursor: pointer;
    }
}